html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
::after,
::before {
  box-sizing: inherit;
}
.global__button {
  margin-top: 20px;
  border: solid;
  border-width: 2px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background-color: rgb(125, 143, 182);
  padding-top: 4px;
  box-shadow: 0px 5px 19px -6px #bcbcbc;
}
.body {
  background-image: linear-gradient(to bottom, #48aaaa 0%, #1b0338 100%);
  background-repeat: no-repeat;
  background-color: rgb(125, 143, 182);
  background-size: 100000px;
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;
}
.body__headerFont {
  font-family: "Stardos Stencil", sans-serif;
  text-align: center;
}
.form {
  max-width: 720px;
  min-width: 320px;
  margin: auto;
  margin-top: 115px;
  padding: 60px;
  border: solid;
  border-width: 2px;
  border-radius: 20px;
  box-shadow: 0px 5px 19px -6px #bcbcbc;
  text-align: center;
}
.form__legend {
  border: solid;
  border-width: 2px;
  border-radius: 8px;
  padding: 5px;
  background-color: rgb(125, 143, 182);
}
.form__labelPLN--polishFlag {
  padding-right: 15px;
  position: relative;
  top: 10px;
}
.form__button--image {
  width: 32px;
}
.form__labelUSD--usaFlag {
  padding-right: 15px;
  position: relative;
  top: 10px;
}
.form__labelMultiplier--font {
  color: antiquewhite;
}
.form__labelMultiplier--input {
  width: 60px;
  margin-top: 40px;
}
.converter {
  margin-top: 15px;
  text-align: center;
}
.converter__button--image {
  width: 80%;
  max-width: 40px;
  min-width: 25px;
}
.converter__text {
  color:antiquewhite
}
.footer {
  background-color: rgb(125, 143, 182);
  border: solid;
  text-align: center;
  border-width: 2px 0px 0px 0px;
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  overflow-x: auto;
  margin-top: 135px;
}
.footer__text {
  padding-top: 8px;
}
