html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
::after,
::before {
  box-sizing: inherit;
}
.global__button {
  margin-top: 20px;
  border: solid;
  border-width: 2px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background-color: rgb(125, 143, 182);
  padding-top: 4px;
  box-shadow: 0px 5px 19px -6px #bcbcbc;
}
.body {
  background-image: url(../images/oleg-background.jpg);
  background-repeat: no-repeat;
  background-color: rgb(125, 143, 182);
  background-size: 100000px;
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;
  background-size: cover;
  background-color: green;
  background-repeat: no-repeat;
  resize: both;
  overflow: auto;
  background-position: 50%;
}

.body__headerFont {
  font-family: "Stardos Stencil", sans-serif;
  text-align: center;
}